:root {
    --font-family: 'Bai Jamjuree', sans-serif;
    --primary-color-one: #26BAA4;
    --primary-color-two: #6173FF;
    --secondary-color-one: #4C545D;
    --secondary-color-two: #9FABB2;
    --font-white: #FFFFFF;
    --footer-background: #D5D5D5;
}

body{
    margin: 0;
    font-family: var(--font-family);
}
img {
    max-width: 100%;
}
section {
    padding: 0 1em;
    padding-bottom: 5em;
}
.slider {
    padding-top: 5em;
}
.container {
    width: 85%;
    max-width: 1240px;
    margin: 0 auto;
}

.slider {
    background: url("images/bg-header-mobile.png");
    background-size: cover;
}

.slider-header {
    font-size: 2rem;
}
.slider-description,
.about-description,
.access-description {
    color: var(--secondary-color-two);
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 2em;
}
button {
    border-radius: 5em;
    padding: 0.7em 1.2em;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1em;
}
button:hover {
    opacity: 0.70;
}
button.primary {
    background-color: var(--primary-color-one);
    color: var(--font-white);
}
button.secondary {
    background-color: var(--primary-color-two);
    color: var(--font-white);
}
.content-center {
    text-align: center;
}
.heading {
    margin-bottom: 0;
}
.description {
    color: var(--secondary-color-two);
    font-weight: 600;
}
.about-points ul,
.quick-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.about-points ul li {
    margin-bottom: 2.5em;
}
.footer {
    background-color: var(--footer-background);
    padding: 2em 0;
}
.footer img {
    width: 3em;
}
.quick-links ul li {
    padding-bottom: 1em;
    color: var(--secondary-color-one);
    font-weight: 400;
    cursor: pointer;
}
.quick-links ul li:hover {
    opacity: 0.5;
}
.social-links i {
    color: var(--secondary-color-one);
    font-size: 1.5rem;
    padding: 0 0.3em;
    cursor: pointer;
}
.client-image {
    text-align: center;
}
.client-image img {
    margin: 1.5em 0;
}
.workflow-img {
    height: 3em;
}
@media (min-width: 767px) {
    section {
        padding: 0;
        padding-bottom: 5em;
    }
    .flex-container {
        display: flex;
        justify-content: space-between;
    }
    .about-points,
    .about-image {
        width: 50%;
    }
    .about-image + .about-points {
        margin-left: 3em;
    }
    .flex-item + .flex-item,
    .client-image + .client-image {
        margin-left: 1em;
    }
    .slider-description,
    .about-description,
    .access-description {
        width: 48%;
    }
    .footer-links {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }
    .container {
        width: 75%;
        margin: 0 auto;
    }
    .slider {
        background: url("images/bg-header-desktop.png");
        background-size: cover;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .slider-description,
    .about-description,
    .access-description {
        width: 70%;
    }
    .footer-links {
        display: flex;
        width: 75%;
        justify-content: space-between;
    }
}